<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% done = @task.completed ? "[X] This task is done!" : "[] This task is not completed yet" %>
<p><%= "#{done}" %></p>
<%= link_to "Back to list", tasks_path  %>
<br>
<%= link_to "Edit this task", "#{@task.id}/edit"  %>


